body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    background-color: rgb(113, 128, 89);
    width: 100%;
    position: fixed;
    height: 100px;
    top: 0;
    z-index: 1; 
}

#minha_foto {
    z-index: 2;
    margin-top: 100px;
    z-index: 2;
    
}

h1 {
    text-align: center;
    padding-top: 5px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 0.5;
    color: rgb(253, 251, 251);
    
}

h3 {    
    padding-top: 25px;
}

table, th, td {
    border: 1px solid rgb(113, 128 , 89);
}

.lado-esquerdo {
    position: relative;
    border: 5px solid rgb(113, 128 , 89);
    display: block;
    padding: 30px;
    width: 50%;
   
}

.lado-direito {
    position: relative;
    border: 5px solid rgb(113, 128 , 89);
    display: inline-block;
    padding: 10px;
    width: 500px;
    top: -170px;
    margin-right: 5%;
    margin-left: 80%;
    width: 50%;
        
}